/ {
	chosen {
		zephyr,display = &ssd1306;
    zephyr,console = &usb_serial;
    zephyr,shell-uart = &usb_serial;

	};
};

&i2c0 {
      status = "okay";
      pinctrl-0 = <&i2c0_default>;
      pinctrl-names = "default";
      clock-frequency = <100000>;

 ssd1306: ssd1306@3c {
        status = "okay";
        compatible = "solomon,ssd1306fb";
        reg = <0x3c>;
        label = "SSD1306";
        width = <128>;
        height = <32>;
        segment-offset = <0>;
        page-offset = <0>;
        display-offset=<0>;
        multiplex-ratio=<31>;
        prechargep = <0x22>;
        com-invdir;
        segment-remap;
      };
};

&pinctrl {
 i2c0_default: i2c0_default {
    group1 {
      pinmux = <I2C0_SDA_GPIO7>, <I2C0_SCL_GPIO8>;
      bias-pull-up;
			drive-open-drain;
			output-high;
    };
  };
};

&usb_serial {
  status = "okay";
};

// &spi1 {
//   status = "okay";
//   compatible = "espressif,esp32-spi";
//   led_strip: led_strip@0 {
//     compatible = "worldsemi,ws2812";
//     reg = <0>;
//     spi-max-frequency = <10000000>;
//     chain-length = <1>;
//     spi-bus-width = <1>;
//   };
// }